<div class="banner mb-3" style="background-image: url(<%= @list && @list.name ? (cl_image_path @list.photo.key, height: 600, crop: :fill) : (image_path 'background.webp') %>)">
  <div class="container">
    <% if @movies %>
  <h1 class="animate__animated animate__jello">All movies</h1>
   <% else %>
  <% if @list %>
  <% if @list.name %>
  <h1 class="animate__animated animate__jello"><%= @list.name %></h1>
   <% else %>
   <h1 class="animate__animated animate__jello">New list</h1>
   <% end %>
  <% else %>
    <h1 class="animate__animated animate__jello">My lists</h1>
    <% end %>
     <% end %>
  </div>


</div>
